#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
 
}

.GridBlock {
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}
.ItemBlock {
  box-shadow: 6px 5px 6px 1px rgba(11, 26, 2, 0.295);
  margin: 1rem;
  width: 300px;
  height: 250px;
  background-color: #f0f0f0;
  text-align: start;
  padding: 0.5rem 2rem;
  border-radius: 15px;
  transition: .3s ease-in;
}
.ItemBlock:hover{
  transform: scale(1.1);
}
.fade-enter-active,
.fade-leave-active {
  transition: 0.3s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.SaveData {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 500px;
  height: 500px;
}
.SaveData input {
  padding: 0 1rem;
  height: 50px;
}
.SaveData button {
  height: 50px;
  background-color: blue;
  color: white;
  border-color: transparent;
  border-radius: 15px;
}
.DataChange {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 500px;
  height: 500px;
}
.DataChange input {
  padding: 0 1rem;
  height: 50px;
}
.DataChange button {
  height: 50px;
  background-color: blue;
  color: white;
  border-color: transparent;
  border-radius: 15px;
}
.Modal {
  position: absolute;
  left: 50%;
  top: 50%;
  background: #fff;
  padding: 24px;
  border-radius: 24px;
  transform: translate(-50%, -50%);
  border: 1px solid silver;
  z-index: 2;
}
.Modal .Close {
  position: absolute;
  right: 24px;
  top: 24px;
}
.Modal h2 {
  margin-top: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: 0.3s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.Bg{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  backdrop-filter: blur(2px);
}
.HomeText{
  font-size: 60px;
}
.MainInput{
  width:  400px;
  height: 38px;
  padding: 0  1rem;
  outline: blue;
  border-radius: 10px;
  font-size: 18px;
  border: blue 2px solid;
}
.SearchUser {
  button{
    width: 100px;
    height: 42px;
    background-color: blue;
    margin-left: 1rem;
    border-color: transparent;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    box-shadow: 6px 5px 6px 1px rgba(94, 255, 0, 0.295);
    transition: .3s ease-in;
  }
}
.BtnHover:hover{
    transform: scale(0.9);
}
.Close{
  cursor: pointer;
}
.ButtonBlock{
  display: flex;
  justify-content: space-between;
  .FunctionBtn{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-color: transparent;
    background-color: blue;
    color: white;
    box-shadow: 6px 5px 6px 1px rgba(94, 255, 0, 0.295);
    transition: .3s ease-in;
  }
  .Edit{
    background-color: lightgreen;
    color: black;
    box-shadow: 6px 5px 6px 1px rgba(0, 17, 255, 0.295);
  }
}
.EditInput{
  outline: none;
  border-radius: 10px;
 border-color: transparent;
 border: 2px solid blue; 
 font-size: 17px;
}
.Save{
  font-size: 20px;
  transition: .3s ease-in;
}