<template>
  <div id="User">
    <transition name="fade">
      <div class="Modal Sign"   v-if="OpenUser">
        <h1>Sign Up</h1>
        <div class="Close" @click="CloseModal()">	&#10006;</div>
        <div class="SaveData">
          <input type="text" class="EditInput" placeholder="Name" v-model="FirstName" />
          <input type="text" class="EditInput" placeholder="User Name" v-model="UserName" />
          <input type="text" class="EditInput" placeholder="Street" v-model="StreetName" />
          <input type="text" class="EditInput" placeholder="Website" v-model="WebsiteName" />
          <input type="text" class="EditInput" placeholder="Phone" v-model="PhoneNumber" />
          <button class="Save BtnHover" @click="Create()">Add new user</button>
          <button class="Save BtnHover" @click="CloseModal()">Close</button>
        </div>
      </div>
    </transition>
    <transition name="fade">
      <div @click="CloseModal()" class="Bg" v-if="OpenUser"></div>
    </transition>
  </div>
</template>

<script>
export default {
  name: "AddUser",
  data() {
    return {
      OpenUser: false,
      FirstName: "",
      UserName: "",
      PhoneNumber: "",
      WebsiteName: "",
      StreetName: "",
      UserInfo: {
        name: "",
        username: "",
        address: {
          street: "",
        },
        phone: "",
        website: "",
      },
    };
  },
  methods: {
    Create: function () {
      if (
        this.FirstName == "",
        this.UserName == "",
        this.StreetName == "",
        this.WebsiteName == "",
        this.PhoneNumber == ""
      )
        alert("Заполните все поля :)");
      else {
        alert("Hi <3 ");
        this.UserInfo.username = this.UserName;
        this.UserInfo.name = this.FirstName;
        this.UserInfo.phone = this.PhoneNumber;
        this.UserInfo.website = this.WebsiteName;
        this.UserInfo.address.street = this.StreetName;

        this.OpenUser = !this.OpenUser;

        this.FirstName = "",
        this.UserName = "",
        this.StreetName = "",
        this.WebsiteName = "",
        this.PhoneNumber = "";
        

        this.$root.$emit("UserInfoSend", this.UserInfo);
      }
    },
    CloseModal: function () {
      this.OpenUser = !this.OpenUser;
    
    },
  },

  mounted() {
    this.$root.$on("Open", (boolen) => {
      this.OpenUser = boolen;
    });
  },
};
</script>

 
      
    