<template>
  <!-- Change user & save via button -->
  <!-- Change also phonenumber, website and street of user -->
  <div id="modals">
    <transition name="fade">
      <div class="Modal modal-edit" v-if="EditModal">
        <div class="Close" @click="CloseModal()">X</div>
        <h2>Edit element</h2>
        <div class="DataChange">
          <div></div>
          <input type="text" class="EditInput" v-model.lazy="UserToUpdate.name"  />
          <input type="text" class="EditInput" v-model.lazy="UserToUpdate.username"  />
          <input type="text" class="EditInput" v-model.lazy="UserToUpdate.address.street"  />
          <input type="text" class="EditInput" v-model.lazy="UserToUpdate.website"  />
          <input type="text" class="EditInput" v-model.lazy="UserToUpdate.phone"  />
          <button class="Save BtnHover" @click="SaveChanges()">Save</button>
          <button class="Save BtnHover" @click="CloseModal()">Go back</button>
        </div>
      </div>
    </transition>
    <transition name="fade">
      <div @click="CloseModal()" class="Bg" v-if="EditModal"></div>
    </transition>
  </div>
</template>

<script>
export default {
  data() {
    return {
      EditModal: false,
      // Пустой юзер появиться при нажатии на кнопку Edit
      UserToUpdate: {},
    };
  },
  methods: {
    CloseModal: function () {
      this.EditModal = !this.EditModal;
    },
    SaveChanges: function () {
      this.EditModal = !this.EditModal;
    },
    
  },
  mounted() {
    this.$root.$on("ShowEditModal", (user) => {
      this.CloseModal();
      // Сохраняем пользователя в этом компоненте
      this.UserToUpdate = user;
    });
  },
};
</script>

