<template>
  <div id="app">
    <Modals />  
    <div id="nav">
      <!-- <router-link to="/">Home</router-link> | -->
      <!-- <router-link to="/about">About</router-link> -->
    </div>
    <router-view />
  </div>
</template>

<script>
import "../css/style.css"
import Modals from "./components/Modals.vue";
// import AddUser from "./components/AddUsers.vue";


export default {
  components: {
    Modals,
    // AddUser
  },
};
</script>